.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  row-gap: var(--token-PT-XSe7P3e-j);
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__yrjM6 {
  position: relative;
  display: flex;
  flex-direction: column;
}
.freeBox__yrjM6 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - var(--token-PT-XSe7P3e-j));
  height: calc(100% + var(--token-PT-XSe7P3e-j));
}
.freeBox__yrjM6 > :global(.__wab_flex-container) > *,
.freeBox__yrjM6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yrjM6 > :global(.__wab_flex-container) > picture > img,
.freeBox__yrjM6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-PT-XSe7P3e-j);
}
.radio___7G4E9:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__dfyb8:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__dxtqR:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
