.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-sCNXwrFqDW0K);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-Mzqfwot3WS4O);
  font-family: var(--token-WlXqZyE8fraV);
  font-size: var(--token-6YhNg0hNx-pA);
  line-height: var(--token-G79CnPL2TPue);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-S8IAbZSR_ZZP);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-YklAqvY-cbIn);
  outline-offset: 1px;
  outline-color: var(--token-sCNXwrFqDW0K);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-Uj1zGFfkGbXq);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-bKAFAoNT6rXB);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-LaQRhN9KiVjm);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-9twg2UJMfYEM);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-Gp-x2OqCzW_V);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-i6y_A7pk5B16);
  font-size: var(--token-HSn7UV5XhERb);
  column-gap: var(--token-YklAqvY-cbIn);
  row-gap: 0px;
  border-radius: var(--token-PT-XSe7P3e-j);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-HSn7UV5XhERb);
  line-height: var(--token-i6y_A7pk5B16);
  column-gap: var(--token-PT-XSe7P3e-j);
  row-gap: 0px;
  border-radius: var(--token-PT-XSe7P3e-j);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-XsdPbhVNfINq);
  line-height: var(--token-WLfYOLgxpDof);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-XsdPbhVNfINq);
  line-height: var(--token-WLfYOLgxpDof);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-5zFRIE_MLI0B);
  border-radius: var(--token-S8IAbZSR_ZZP);
}
.softBackgroundcolor_neutral {
  background: var(--token-xYn1wM3hScz1);
}
.softBackgroundcolor_muted {
  background: var(--token-Z_Pdlb_HqoC1);
}
.softBackgroundcolor_success {
  background: var(--token-bP_aQNvIlOwn);
}
.softBackgroundcolor_warning {
  background: var(--token-RCg6YkLjync6);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-Ez_l2G-uz1B0);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-S8IAbZSR_ZZP);
  border: 0px solid var(--token-auCpJV65uSaU);
}
.bordercolor_neutral {
  border-color: var(--token-mF-0JRJYIVJI);
}
.bordercolor_muted {
  border-color: var(--token-_jkmnqzRRTBV);
}
.bordercolor_success {
  border-color: var(--token-T9El9DT8L4So);
}
.bordercolor_warning {
  border-color: var(--token-RzYUyoCDP936);
}
.bordercolor_errorDestructive {
  border-color: var(--token-o75aA-H2BGUT);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-S8IAbZSR_ZZP);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-4ENy4yWat4FF);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-czwkSmkQNs0O);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-hpKGNgIXvBXJ);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__gLqOr {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-S8IAbZSR_ZZP) var(--token-GeSarTpI7XGR);
}
.freeBox__gLqOr > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-S8IAbZSR_ZZP));
  width: calc(100% + var(--token-S8IAbZSR_ZZP));
}
.freeBox__gLqOr > :global(.__wab_flex-container) > *,
.freeBox__gLqOr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gLqOr > :global(.__wab_flex-container) > picture > img,
.freeBox__gLqOr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-S8IAbZSR_ZZP);
}
.freeBoxsize_extraSmall__gLqOr59ViQ {
  padding: var(--token-PT-XSe7P3e-j) var(--token-S8IAbZSR_ZZP);
}
.freeBoxsize_small__gLqOr8B6Sv {
  padding: var(--token-S8IAbZSR_ZZP) var(--token-Mzqfwot3WS4O);
}
.freeBoxsize_large__gLqOr9Y4S {
  padding-top: var(--token-PT-XSe7P3e-j);
  padding-bottom: var(--token-PT-XSe7P3e-j);
}
.freeBoxsize_extraLarge__gLqOrRm3Tb {
  padding-left: var(--token-QhX7uIqHVZ13);
  padding-right: var(--token-QhX7uIqHVZ13);
}
.freeBoxroundedFull__gLqOrOOv8 {
  padding-right: var(--token-QhX7uIqHVZ13);
  padding-left: var(--token-QhX7uIqHVZ13);
}
.freeBox___6Aoq8 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___6Aoq8O0H64 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-wbrvjSGQ_vya);
}
.slotTargetStartcolor_neutral {
  color: var(--token-7MgQ5KrW1oQ5);
}
.slotTargetStartcolor_muted {
  color: var(--token-lCv2s512yxRQ);
}
.slotTargetStartcolor_success {
  color: var(--token-t6cY6vBLucCe);
}
.slotTargetStartcolor_warning {
  color: var(--token-9aQXr3-PZpPZ);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-79x17nZ1O490);
}
.slotTargetStarttype_soft {
  color: var(--token-VzeHZYL8KXnG);
}
.slotTargetStarttype_bordered {
  color: var(--token-VzeHZYL8KXnG);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-HSn7UV5XhERb);
}
.slotTargetStartsize_small {
  font-size: var(--token-HSn7UV5XhERb);
}
.slotTargetStartsize_large {
  font-size: var(--token-XsdPbhVNfINq);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-XsdPbhVNfINq);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-hK56oSlYwUdu);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-hK56oSlYwUdu);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-5dr3Blru0tQA);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-5dr3Blru0tQA);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-QlQQLyym73uW);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-QlQQLyym73uW);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-pIquu9pxLY1m);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-pIquu9pxLY1m);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-0w900q_vZtXm);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-0w900q_vZtXm);
}
.svg__xnIz {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-wbrvjSGQ_vya);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-7MgQ5KrW1oQ5);
}
.slotTargetLabelcolor_muted {
  color: var(--token-lCv2s512yxRQ);
}
.slotTargetLabelcolor_success {
  color: var(--token-t6cY6vBLucCe);
}
.slotTargetLabelcolor_warning {
  color: var(--token-9aQXr3-PZpPZ);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-79x17nZ1O490);
}
.slotTargetLabeltype_soft {
  color: var(--token-VzeHZYL8KXnG);
}
.slotTargetLabeltype_bordered {
  color: var(--token-VzeHZYL8KXnG);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-hK56oSlYwUdu);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-5dr3Blru0tQA);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-hK56oSlYwUdu);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-QlQQLyym73uW);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-5dr3Blru0tQA);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-pIquu9pxLY1m);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-QlQQLyym73uW);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-0w900q_vZtXm);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-pIquu9pxLY1m);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-0w900q_vZtXm);
}
.text__rnpYf {
  white-space: pre;
}
.freeBox__w212L {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__w212Ls91SX {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-wbrvjSGQ_vya);
}
.slotTargetEndcolor_neutral {
  color: var(--token-7MgQ5KrW1oQ5);
}
.slotTargetEndcolor_muted {
  color: var(--token-lCv2s512yxRQ);
}
.slotTargetEndcolor_success {
  color: var(--token-t6cY6vBLucCe);
}
.slotTargetEndcolor_warning {
  color: var(--token-9aQXr3-PZpPZ);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-79x17nZ1O490);
}
.slotTargetEndtype_soft {
  color: var(--token-VzeHZYL8KXnG);
}
.slotTargetEndtype_bordered {
  color: var(--token-VzeHZYL8KXnG);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-HSn7UV5XhERb);
}
.slotTargetEndsize_small {
  font-size: var(--token-HSn7UV5XhERb);
}
.slotTargetEndsize_large {
  font-size: var(--token-XsdPbhVNfINq);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-XsdPbhVNfINq);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-hK56oSlYwUdu);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-hK56oSlYwUdu);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-5dr3Blru0tQA);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-5dr3Blru0tQA);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-QlQQLyym73uW);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-QlQQLyym73uW);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-pIquu9pxLY1m);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-pIquu9pxLY1m);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-0w900q_vZtXm);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-0w900q_vZtXm);
}
.svg__dKrtJ {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
